/* Body */

body {
display: flex;
  margin: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  justify-content: center;
}

div {
  display: block;
}

/* Header */

header {
  display: flex;
  z-index: 1;
  align-items: center;
  position: fixed;
  height: 69px;
  width: 100%;
  border-bottom: 1px solid seashell;
  background-color: black;
}

.logo {
  display: flex;
  flex-grow: 1;
  height: 50px;
  margin-left: 10px;
  color: seashell;
}

nav {
  display: flex;
  justify-content: flex-end;
}

nav span {
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: underline;
}

/* Mission Statement */

#mission-statement {
  height: 700px;
  background-image: url(/Users/simondjanogly/TeaCozy/css/images/img-mission-background.jpg);
  padding-top: 70px;
}

.flex-container {
  display: flex;
  justify-content: center;
align-items: center;
  width: 1200px;
}

#mission-statement .content {
  margin: auto;
  background-color: black;
  width: 100%;
}
